<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>企业人事管理平台</title>
    <link rel="stylesheet" th:href="@{../../static/js/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{../../static/js/font-awesome-4.7.0/css/font-awesome.css}">
</head>
<body>
<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <i class="fa fa-tasks"> 任务列表</i>
                </div>
                <div class="layui-card-body">
                    <table class="layui-hide" id="test" lay-filter="test"></table>
                </div>
            </div>

        </div>
    </div>
</div>


<script type="text/html" id="toolbarDemo">
    <div id="layerDemo" class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
        <button data-method="offset" data-type="auto" class="layui-btn layui-btn-sm layui-btn-warm">添加任务</button>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<!--引入echarts-->
<script th:src="@{../../static/js/echart/echarts.min.js}"></script>
<script th:src="@{../../static/js/layui/layui.js}"></script>
<script>
    layui.use(['table','layer'], function(){
        var table = layui.table;

        table.render({
            elem: '#test'
            ,url:'http://localhost:8081/task/list'
            ,parseData: function (res) {
                return {
                    "code" : res.code,
                    "msg" : res.message,
                    "count" : res.count,
                    "data" : res.data
                }
            }
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                ,layEvent: 'LAYTABLE_TIPS'
                ,icon: 'layui-icon-tips'
            }]
            ,title: '部门数据表'
            ,cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    ,{field:'id', title:'ID', width:120, fixed: 'left', unresize: true, sort: true}
                    ,{field:'taskName', title:'任务名称', width:150}
                    ,{field:'taskContent', title:'任务内容', width:150}
                    ,{field:'sender', title:'任务创建人', width:150,templet:function (task) {
                        return task.sender.name;
                    }}
                    ,{field:'receiver', title:'任务执行人', width:200,templet:function (task) {
                        return task.receiver.name;
                    }}
                    ,{field:'taskStatus', title:'任务状态', width:120,templet:function (task) {
                        if (task.taskStatus == 1) return "未开始";
                        if (task.taskStatus == 2) return "准备中";
                        if (task.taskStatus == 3) return "正在进行";
                        if (task.taskStatus == 4) return "已完成";
                        if (task.taskStatus == 5) return "失败";
                    }}
                    ,{field:'remark', title:'任务备注', width:200}
                    ,{field:'createDate', title:'创建日期', width:200 ,templet: function (task) {
                        return layui.util.toDateString(task.createDate, 'yyyy-MM-dd');
                    }}
                    ,{field:'createDate', title:'截至日期', width:200 ,templet: function (task) {
                        if (task.endDate != null) {
                            return layui.util.toDateString(task.endDate, 'yyyy-MM-dd');
                        }else {
                            return "无日期限制";
                        }
                    }}
                    ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:200}
                ]
            ]
            ,page: true
            ,limit:14
            ,limits: [10,12,14]
        });

        //头工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选': '未全选');
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            };
        });

        var layer = layui.layer;
        var $ = layui.jquery;

        var active = {
            offset: function (othis) {
                var type = othis.data('type')
                    ,text = othis.text();
                var type = othis.data('type'),
                    text = othis.text();
                layer.open({
                    type: 2//0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层)
                    ,offset: 'auto'
                    ,title: '添加任务信息' //不显示标题栏
                    ,area: ['70%','80%']//定义宽高
                    ,shade: 0.8//遮幕
                    ,id: 'LAY_layuipro'//设定一个id，防止重复弹出
                    ,btn: '关闭窗口'
                    ,btnAlign: 'c'//按钮排列：居中对齐
                    ,moveType: 1 //拖拽模式，0或者1
                    , content: '/task/add'//跳转到想要的界面，这里是我自己项目的跳转界面
                    , yes : function () {
                        layer.closeAll();
                    }
                });
            }
        }

        //监听行工具事件
        table.on('tool(test)', function(obj){
            var id = obj.data.id;
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    $.get("/task/delete", {id: id}, function (response) {
                        layer.msg(response.message);
                        if (response.code == 200){
                            obj.del();
                        }
                    });
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                //弹出编辑页面
                layer.open({
                    type: 2//0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层)
                    ,offset: 'auto'
                    ,title: "修改任务信息" //不显示标题栏
                    ,area: ['60%','68%']//定义宽高
                    ,shade: 0.8//遮幕
                    ,id: 'LAY_layuipro'//设定一个id，防止重复弹出
                    ,btn: '关闭窗口'
                    ,btnAlign: 'c'//按钮排列：居中对齐
                    ,moveType: 1 //拖拽模式，0或者1
                    ,content: '/task/edit?id='+id//跳转到想要的界面，这里是我自己项目的跳转界面
                    ,yes : function () {
                        layer.closeAll();
                    }
                });
            }
        });

        $('#layerDemo .layui-btn').on('click', function(){
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });
    });



</script>
</body>
</html>
