<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{../../static/js/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{../../static/js/font-awesome-4.7.0/css/font-awesome.css}">
</head>
<body>
<div style="padding: 25px;background: whitesmoke">
    <form class="layui-form" action="" id="vacation_info">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">开始日期</label>
                <div class="layui-input-inline">
                    <input th:value="${#dates.format(vacation.getCreateTime(),'yyyy-MM-dd')}" type="text" name="startTime" id="createDate" lay-verify="" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">结束日期</label>
                <div class="layui-input-inline">
                    <input th:value="${#dates.format(vacation.getEndTime(),'yyyy-MM-dd')}" type="text" name="endTime" id="endDate" lay-verify="" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item layui-form-text" style="width: 95%">
            <label class="layui-form-label">请假原因</label>
            <div class="layui-input-block">
                <textarea th:text="${vacation.getVacationReason()}" name="vacationReason" placeholder="" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-form-text" style="width: 95%">
            <label class="layui-form-label">备注信息</label>
            <div class="layui-input-block">
                <textarea th:text="${vacation.getRemark()}"  name="remark" placeholder="" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" onclick="doSave()" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>



<script th:src="@{../../static/js/echart/echarts.min.js}"></script>
<script th:src="@{../../static/js/layui/layui.js}"></script>
<script th:src="@{../../static/js/jquery-3.4.1/jquery-3.4.1.min.js}"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;
        //日期渲染
        laydate.render({
            elem: '#createDate'
        });
        laydate.render({
            elem: '#endDate'
        });
    });

    var layer = layui.layer;
    //调用Jquery发送表单数据到后台接口
    function doSave() {
        var vacation = $("#vacation_info").serialize();
        if (vacation)
            $.post("/vacation/add",vacation,function (response) {
                layer.msg(response.message);
            })
    }
</script>

</body>
</html>