<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>企业人事管理平台</title>
    <link rel="stylesheet" th:href="@{../../static/js/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{../../static/js/font-awesome-4.7.0/css/font-awesome.css}">
</head>
<body class="layui-layout-body">
<table class="layui-hide" id="vacation" lay-filter="test"></table>

<script type="text/html" id="toolbarDemo">
    <div id="layerDemo" class="layui-btn-container">
        <button data-method="offset" data-type="auto" class="layui-btn layui-btn-sm layui-btn-warm">添加任务</button>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="view">查看详情</a>
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="yes">通过</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="no">不通过</a>
</script>
<!--引入echarts-->
<script th:src="@{../../static/js/echart/echarts.min.js}"></script>
<script th:src="@{../../static/js/layui/layui.js}"></script>
<script>
    layui.use(['table','layer'], function(){
        var table = layui.table;

        table.render({
            elem: '#vacation'
            ,url:'/vacation/userSubordinateVacationList'
            ,parseData: function (res) {
                return {
                    "code" : res.code,
                    "msg" : res.message,
                    "count" : res.count,
                    "data" : res.data
                }
            }
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,defaultToolbar: ['filter', 'exports', 'print']
            ,title: '部门休假申请表'
            ,cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    ,{field:'id', title:'ID', width:120, fixed: 'left', unresize: true, sort: true}
                    ,{field:'applicant', title:'申请人', width:150,templet:function (vacation) {
                        return vacation.applicant.name;
                    }}
                    ,{field:'department', title:'所属部门', width:150,templet:function (vacation) {
                        return vacation.department.departmentName;
                    }}
                    ,{field:'vacationReason', title:'请假原因', width:150}
                    ,{field:'remark', title:'状态', width:150,templet(vacation){
                        if (vacation.approvalStatus == 1) {
                            return '<font color="green">通过</font>';
                        }
                        if (vacation.approvalStatus == 2){
                            return '<font color="red">不通过</font>';
                        }
                        else {
                            return '<font color="#696969">待审核</font>';
                        }
                    }}
                    ,{field:'startTime', title:'起始日期', width:200 ,templet: function (vacation) {
                        return layui.util.toDateString(vacation.startTime, 'yyyy-MM-dd');
                    }}
                    ,{field:'endTime', title:'起始日期', width:200 ,templet: function (vacation) {
                        return layui.util.toDateString(vacation.endTime, 'yyyy-MM-dd');
                    }}
                    ,{field:'remark', title:'备注', width:150}
                    ,{field:'createTime', title:'申请日期', width:200 ,templet: function (vacation) {
                        return layui.util.toDateString(vacation.createTime, 'yyyy-MM-dd');
                    }}
                    ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:200}
                ]
            ]
            ,page: true
            ,limit:14
            ,limits: [10,12,14]
        });


        var layer = layui.layer;
        var $ = layui.jquery;

        var active = {
            offset: function (othis) {
                var type = othis.data('type')
                    ,text = othis.text();
                var type = othis.data('type'),
                    text = othis.text();
                layer.open({
                    type: 2//0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层)
                    ,offset: 'auto'
                    ,title: '添加任务信息' //不显示标题栏
                    ,area: ['70%','80%']//定义宽高
                    ,shade: 0.8//遮幕
                    ,id: 'LAY_layuipro'//设定一个id，防止重复弹出
                    ,btn: '关闭窗口'
                    ,btnAlign: 'c'//按钮排列：居中对齐
                    ,moveType: 1 //拖拽模式，0或者1
                    , content: '/task/add'//跳转到想要的界面，这里是我自己项目的跳转界面
                    , yes : function () {
                        layer.closeAll();
                    }
                });
            }
        }

        //监听行工具事件
        table.on('tool(test)', function(obj){
            var id = obj.data.id;
            if(obj.event === 'yes'){
                layer.confirm('再次确认同意审批', function(index){
                    $.get("/vacation/updateVacationToPassed", {id: id}, function (response) {
                        layer.msg(response.message);
                    });
                    layer.close(index);
                });
            }
            else if (obj.event === 'no'){
                layer.confirm('再次确认拒绝请求审批', function(index){
                    $.get("/vacation/updateVacationToUnPassed", {id: id}, function (response) {
                        layer.msg(response.message);
                    });
                    layer.close(index);
                });
            }else if(obj.event === 'view'){
                //弹出编辑页面
                layer.open({
                    type: 2//0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层)
                    ,offset: 'auto'
                    ,title: "请假详细信息" //不显示标题栏
                    ,area: ['60%','68%']//定义宽高
                    ,shade: 0.8//遮幕
                    ,id: 'LAY_layuipro'//设定一个id，防止重复弹出
                    ,btn: '关闭窗口'
                    ,btnAlign: 'c'//按钮排列：居中对齐
                    ,moveType: 1 //拖拽模式，0或者1
                    ,content: '/vacation/vacationInfo?id='+id
                    // ,content: '/task/edit?id='+id
                    ,yes : function () {
                        layer.closeAll();
                    }
                });
            }
        });

        $('#layerDemo .layui-btn').on('click', function(){
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });
    });



</script>
</body>
</html>
