<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>企业人事管理平台</title>

</head>
<body>
    <blockquote>
        <p>如需使用邮件功能，请按照如下内容执行配置，以保证发送者以及接收者能够正确接收信息(该过程只需执行一次)</p>
    </blockquote>
    <ul>
        <li>登录个人邮箱(请使用网页登录，已方便检查设置)</li>
        <li>打开邮箱设置界面，找到POP3/STMP/IMAP服务选项</li>
        <li>开启POP3/STMP/IMAP服务选项，记录个人密钥，也可以自己设置密钥</li>
        <li>保存设置</li>
    </ul>

<!--引入echarts-->
<script th:src="@{../../static/js/echart/echarts.min.js}"></script>
<script th:src="@{../../static/js/layui/layui.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
    // //JavaScript代码区域
    // layui.use(['element','layer'], function(){
    //     var element = layui.element;
    //     var $ = layui.jquery;
    //
    //     $.get('../static/releaseLog/2020-12-11.md', function(response, status, xhr){
    //         $("#content").html(marked(response));
    //     });
    //
    // });



</script>
</body>
</html>
