<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>企业人事管理平台</title>
    <link rel="stylesheet" th:href="@{../../static/js/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{../../static/js/font-awesome-4.7.0/css/font-awesome.css}">
</head>
<body style="background-color: whitesmoke">
<div style="width: 100%">
    <div  style="width: 80%" ></div>
</div>
<!--引入echarts-->
<script th:src="@{../../static/js/echart/echarts.min.js}"></script>
<script th:src="@{../../static/js/layui/layui.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
    // //JavaScript代码区域
    // layui.use(['element','layer'], function(){
    //     var element = layui.element;
    //     var $ = layui.jquery;
    //
    //     $.get('../static/releaseLog/2020-12-11.md', function(response, status, xhr){
    //         $("#content").html(marked(response));
    //     });
    //
    // });



</script>
</body>
</html>
