<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>企业人事管理平台</title>
    <link rel="stylesheet" th:href="@{../../static/js/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{../../static/js/font-awesome-4.7.0/css/font-awesome.css}">
</head>
<body class="layui-layout-body">
<table class="layui-hide" id="test" lay-filter="test"></table>

<script type="text/html" id="toolbarDemo">
    <div id="layerDemo" class="layui-btn-container">
<!--        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>-->
<!--        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>-->
<!--        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>-->
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">查看详情</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<!--引入echarts-->
<script th:src="@{../../static/js/echart/echarts.min.js}"></script>
<script th:src="@{../../static/js/layui/layui.js}"></script>
<script>
    layui.use(['table','layer'], function(){
        var table = layui.table;

        table.render({
            elem: '#test'
            ,url:'/exceptionlog/list'
            ,parseData: function (res) {
                return {
                    "code" : res.code,
                    "msg" : res.message,
                    "count" : res.count,
                    "data" : res.data
                }
            }
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                ,layEvent: 'LAYTABLE_TIPS'
                ,icon: 'layui-icon-tips'
            }]
            ,title: '异常日志'
            ,cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    ,{field:'id', title:'ID', width:120, fixed: 'left', unresize: true, sort: true}
                    ,{field:'username', title:'用户名', width:150}
                    ,{field:'host', title:'IP地址', width:150}
                    ,{field:'address', title:'登录地点', width:150}
                    ,{field:'description', title:'异常描述', width:150}
                    ,{field:'detail', title:'堆栈信息', width:150}
                    ,{field:'happenTime', title:'发生时间', width:150,templet:function (exceptionLog) {
                        return layui.util.toDateString(exceptionLog.happenTime, 'yyyy-MM-dd HH:mm:ss');
                    }}
                    ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:200}
                ]
            ]
            ,page: true
            ,limit:14
            ,limits: [10,12,14]
        });

        //监听行工具事件
        table.on('tool(test)', function(obj){
            var id = obj.data.id;
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    $.get("/exceptionlog/delete", {id: id}, function (response) {
                        layer.msg(response.message);
                        if (response.code == 200){
                            obj.del();
                        }
                    });
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                //弹出编辑页面
                layer.open({
                    type: 2//0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层)
                    ,offset: 'auto'
                    ,title: "堆栈信息展示" //不显示标题栏
                    ,area: ['80%','80%']//定义宽高
                    ,shade: 0.8//遮幕
                    ,id: 'LAY_layuipro'//设定一个id，防止重复弹出
                    ,btn: '关闭窗口'
                    ,btnAlign: 'c'//按钮排列：居中对齐
                    ,moveType: 1 //拖拽模式，0或者1
                    ,content: '/exceptionlog/present?id='+id//跳转到想要的界面，这里是我自己项目的跳转界面
                    ,yes : function () {
                        layer.closeAll();
                    }
                });
            }
        });

        $('#layerDemo .layui-btn').on('click', function(){
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });
    });
</script>
</body>
</html>
