<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>企业人事管理平台</title>
    <link rel="stylesheet" href="../static/js/layui/css/layui.css">
    <link rel="stylesheet" href="../static/js/font-awesome-4.7.0/css/font-awesome.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header layui-bg-black">
        <div class="layui-logo">
            企业人事管理平台
        </div>

        <ul class="layui-nav layui-layout-right layui-bg-black">
            <li class="layui-nav-item layui-bg-black">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    范昊
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">个人资料</a></dd>
                    <dd><a href="">修改密码</a></dd>
                    <dd><a href="">退出登录</a> </dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="index.html">
                        <i class="fa fa-home"> 系统首页</i>
                    </a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="empolyeeInfomation.html">
                        <i class="fa fa-user-circle"> 员工信息</i>
                    </a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="">
                        <i class="fa fa-money"> 薪资信息</i>
                    </a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="">
                        <i class="fa fa-tasks"> 任务流程</i>
                    </a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="">
                        <i class="fa fa-commenting"> 消息通知</i>
                    </a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="">
                        <i class="fa fa-file-code-o"> 操作日志</i>
                    </a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="">
                        <i class="fa fa-bug"> 异常日志</i>
                    </a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="">
                        <i class="fa fa-paper-plane"> 其他信息</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body" style="background-color: whitesmoke">
        <table class="layui-hide" id="employee_information" lay-filter="test"></table>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
                <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
                <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
                <button class="layui-btn layui-btn-sm" lay-event="" onclick="directToAddEmployee()">新增员工</button>
            </div>
        </script>

        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>

    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        2020 - 2021 © BUSSINESS-PLATFORM - power by fanhao
    </div>
</div>
<!--引入echarts-->
<script src="../static/js/echart/echarts.min.js"></script>
<script src="../static/js/layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });

    layui.use('table', function(){
        var table = layui.table;

        table.render({
            elem: '#employee_information'
            ,url: 'https://www.layui.com/demo/table/user'
            ,page: true
            ,request: {

            }
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                ,layEvent: 'LAYTABLE_TIPS'
                ,icon: 'layui-icon-tips'
            }]
            ,title: '用户数据表'
            ,cols: [[
                {type: 'checkbox', fixed: 'left'}
                ,{field:'id', title:'ID', width:80, fixed: 'left', unresize: true, sort: true}
                ,{field:'username', title:'用户名', width:120, edit: 'text'}
                ,{field:'email', title:'邮箱', width:150, edit: 'text', templet: function(res){
                        return '<em>'+ res.email +'</em>'
                    }}
                ,{field:'sex', title:'性别', width:80, edit: 'text', sort: true}
                ,{field:'city', title:'城市', width:100}
                ,{field:'sign', title:'签名'}
                ,{field:'experience', title:'积分', width:80, sort: true}
                ,{field:'ip', title:'IP', width:120}
                ,{field:'logins', title:'登入次数', width:100, sort: true}
                ,{field:'joinTime', title:'加入时间', width:120}
                ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
            ]]

        });

        //头工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选': '未全选');
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(test)', function(obj){
            var data = obj.data;
            //console.log(obj)
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                layer.prompt({
                    formType: 2
                    ,value: data.email
                }, function(value, index){
                    obj.update({
                        email: value
                    });
                    layer.close(index);
                });
            }
        });
    });

    function directToAddEmployee() {
        window.location.href="addEmployee.html";
    }
</script>
</body>
</html>
