<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>企业人事管理平台</title>
    <link rel="stylesheet" th:href="@{../static/js/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{../static/js/font-awesome-4.7.0/css/font-awesome.css}">
    <link rel="shortcut icon" th:href="@{../static/image/favicon.png}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">
            企业人事管理平台
        </div>

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img th:src="@{../static/image/El Capitan.jpg}" class="layui-nav-img">
                    范昊
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" onclick="modifyPersonInfo()">修改信息</a></dd>
                    <dd><a href="javascript:;" onclick="logout()">退出登录</a> </dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="/console/" target="content_iframe">
                        <i class="fa fa-home"> 系统首页</i>
                    </a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="JavaScript:">
                        <i class="fa fa-user-circle"> 企业信息</i>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="/employee/" target="content_iframe"> 员工信息</a></dd>
                        <dd><a href="/department/" target="content_iframe"> 部门信息</a></dd>
                        <dd><a href="/salary/" target="content_iframe"> 薪资列表</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="JavaScript:">
                        <i class="fa fa-tasks"> 任务流程</i>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="/task/" target="content_iframe"> 任务列表</a></dd>
                        <dd><a href=""> 任务状态</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="JavaScript:">
                        <i class="fa fa-file-code-o"> 日志信息</i>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href=""> 操作日志</a></dd>
                        <dd><a href=""> 系统日志</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body" style="background-color: whitesmoke">
        <iframe name="content_iframe" frameborder="no" border="0" class="larry-iframe"
                style="width: 100%;height: 100%" src="/console">
        </iframe>
    </div>
    <div class="layui-footer" style="text-align: center">
        <!-- 底部固定区域 -->
        2020 - 2021 © 企业人事管理平台(BUSSINESS-PLATFORM) - power by 范昊
    </div>
</div>
<!--引入echarts-->
<script th:src="@{../static/js/echart/echarts.min.js}"></script>
<script th:src="@{../static/js/layui/layui.all.js}"></script>
<script>
    var layer = layui.layer;

    function modifyPersonInfo(){
        layer.open({
            type: 2//0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层)
            ,offset: 'auto'
            ,title: "修改员工信息" //不显示标题栏
            ,area: ['90%','90%']//定义宽高
            ,shade: 0.8//遮幕
            ,id: 'LAY_layuipro'//设定一个id，防止重复弹出
            ,btn: '关闭窗口'
            ,btnAlign: 'c'//按钮排列：居中对齐
            ,moveType: 1 //拖拽模式，0或者1
            ,content: '/employee/addemployee'
            ,yes : function () {
                layer.closeAll();
            }
        });
    }

    var $ = layui.jquery;
    function logout() {
        $.get("/logout",function (response) {
            window.location.href = "/login";
            layer.msg("退出登录成功")
        })
    }



</script>
</body>
</html>
